.wrapper{
   max-width: 70rem;
   margin: 2rem auto;
   padding: 0 1rem;

   display: grid;
   grid-template-columns:  256px 1fr;
   gap: 2rem;
   align-items: flex-start;/* Usa uso para posssicionar 
   no topo e para desta forma não tentar esticar/distorcer 
   o contéudo na horizontal se componets tiverem tamanhos 
   diferentes, por padrão é aplicado o flex-Stretch*/
}